projects/oraya-labs/deliverables/Outbound Post Call (Import Ready).json
{
  "name": "Outbound Post Call",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c8f31eb3-9a96-49d8-b223-433911ed0a99",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2560,
        1088
      ],
      "id": "ca85dd97-6dfc-49ad-89ab-d8bf12f49ce9",
      "name": "Webhook",
      "webhookId": "c8f31eb3-9a96-49d8-b223-433911ed0a99"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "35c8d350-5775-49f5-abd7-f4b30717a697",
              "leftValue": "={{ $json.body.call.call_analysis.call_successful.toString() }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1808,
        1072
      ],
      "id": "8fb4933a-a844-4cc1-8cff-de7ec109737e",
      "name": "PCDE"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Appointment Confirmation</title>\n    <style>\n        body { margin: 0; padding: 0; background-color: #ffffff; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }\n        table, td { border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }\n        img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; }\n        \n        /* Mobile Styles */\n        @media only screen and (max-width:480px) {\n            .width-full { width: 100% !important; max-width: 100% !important; }\n            /* Forces elements to stack vertically on mobile */\n            .mobile-block { display: block !important; width: 100% !important; text-align: center !important; padding-bottom: 5px !important; padding-top: 5px !important; }\n            .mobile-hide { display: none !important; }\n            .mobile-pad { padding-left: 15px !important; padding-right: 15px !important; }\n            .mobile-center { text-align: center !important; }\n            .mobile-label { font-size: 11px !important; letter-spacing: 1px !important; }\n            .mobile-value { font-size: 24px !important; }\n            /* Reset padding for the container cells to avoid double padding */\n            .mobile-reset-pad { padding-right: 0 !important; padding-left: 0 !important; }\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #ffffff;\">\n\n    <center style=\"width: 100%; background-color: #ffffff;\">\n        \n        <table width=\"600\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:600px; margin:0 auto; background-color:#ffffff;\" class=\"width-full\">\n            \n            <tr>\n                <td align=\"center\" style=\"padding-top: 40px; padding-bottom: 20px;\">\n                    <img src=\"https://44f5438981.imgdist.com/pub/bfra/z5p5wll5/agc/kwb/87w/Gemini_Generated_Image_e3y4u8e3y4u8e3y4.png\" width=\"600\" alt=\"Mercedes-Benz\" style=\"width: 100%; max-width: 600px; height: auto;\">\n                </td>\n            </tr>\n\n            <tr>\n                <td align=\"left\" class=\"mobile-pad\" style=\"padding-left: 40px; padding-bottom: 0px; font-family: 'Times New Roman', Times, Baskerville, Georgia, serif; color: #000000; font-size: 24px; line-height: 1.2;\">\n                    Dear {{ \n  (() => {\n    const name = $json.body.call.call_analysis.custom_analysis_data.Caller_Name;\n    if (!name || !name.trim() || /^n\\/?a$|{{|caller|unknown|none/i.test(name.trim())) {\n      return 'Valued Customer';\n    }\n    return name;\n  })()\n}}\n                </td>\n            </tr>\n\n            <tr>\n                <td align=\"center\" style=\"padding: 0;\">\n                    <img src=\"https://44f5438981.imgdist.com/pub/bfra/z5p5wll5/uem/f8i/cag/Gemini_Generated_Image_op9xs4op9xs4op9x.png\" width=\"450\" alt=\"Appointment Image\" style=\"width: 100%; max-width: 450px; height: auto; margin: 0 auto;\">\n                </td>\n            </tr>\n\n            <tr>\n                <td align=\"center\" class=\"mobile-pad mobile-label\" style=\"padding-top: 30px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color: #999999; font-size: 14px; line-height: 1.4; text-align: center; text-transform: uppercase; letter-spacing: 2px; font-weight: bold;\">\n                    This is a confirmation that your visit is on the calendar for\n                </td>\n            </tr>\n\n            <tr>\n                <td align=\"center\" class=\"mobile-pad mobile-value\" style=\"padding-top: 0px; padding-bottom: 50px; font-family: 'Times New Roman', Times, Baskerville, Georgia, serif; color: #000000; font-size: 32px; letter-spacing: 0.5px; text-align: center;\">\n               {{ $json.body.call.call_analysis.custom_analysis_data['appointment date'] }}\n                </td>\n            </tr>\n\n            <tr>\n                <td align=\"center\" style=\"border-top: 1px solid #eeeeee; padding-top: 30px; padding-bottom: 40px; padding-left: 10px; padding-right: 10px;\">\n                    \n                    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 0 auto;\" class=\"width-full\">\n                        \n                        <tr>\n                            <td align=\"center\" valign=\"middle\">\n                                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                                    <tr>\n                                        <td class=\"mobile-block mobile-reset-pad\" align=\"right\" valign=\"middle\" style=\"font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #333333; line-height: 1.4; padding-right: 10px;\">\n                                            <img src=\"https://img.icons8.com/ios-filled/50/666666/marker.png\" width=\"12\" height=\"12\" style=\"display: inline-block; vertical-align: middle; margin-right: 4px;\" alt=\"Loc\" />\n                                            <a href=\"https://share.google/BaHpO2CWCDFZLbwxt\" style=\"text-decoration: none; color: #333333; border-bottom: 1px solid #cccccc; vertical-align: middle;\">3311 Pacific Coast Hwy, Torrance, CA 90505</a>\n                                        </td>\n                                        \n                                        <td class=\"mobile-hide\" valign=\"middle\" style=\"padding: 0 5px; color: #cccccc; font-size: 13px;\">|</td>\n                                        \n                                        <td class=\"mobile-block mobile-reset-pad\" align=\"left\" valign=\"middle\" style=\"font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #333333; line-height: 1.4; padding-left: 10px;\">\n                                            <img src=\"https://img.icons8.com/ios-filled/50/666666/phone.png\" width=\"12\" height=\"12\" style=\"display: inline-block; vertical-align: middle; margin-right: 4px;\" alt=\"Tel\" />\n                                            Sales Phone: <a href=\"tel:8884423778\" style=\"text-decoration: none; color: #333333; font-weight: bold; vertical-align: middle;\">888-442-3778</a>\n                                        </td>\n                                    </tr>\n                                </table>\n                            </td>\n                        </tr>\n\n                        <tr class=\"mobile-hide\"><td height=\"12\" style=\"font-size: 12px; line-height: 12px;\">&nbsp;</td></tr>\n\n                        <tr>\n                            <td align=\"center\" valign=\"middle\">\n                                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                                    <tr>\n                                        <td class=\"mobile-block mobile-reset-pad\" align=\"right\" valign=\"middle\" style=\"font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #333333; line-height: 1.4; padding-right: 10px;\">\n                                            <img src=\"https://img.icons8.com/ios-filled/50/666666/phone.png\" width=\"12\" height=\"12\" style=\"display: inline-block; vertical-align: middle; margin-right: 4px;\" alt=\"Tel\" />\n                                            Service: <a href=\"tel:8884423778\" style=\"text-decoration: none; color: #333333; font-weight: bold; vertical-align: middle;\">888-442-3778</a>\n                                        </td>\n                                        \n                                        <td class=\"mobile-hide\" valign=\"middle\" style=\"padding: 0 5px; color: #cccccc; font-size: 13px;\">|</td>\n                                        \n                                        <td class=\"mobile-block mobile-reset-pad\" align=\"left\" valign=\"middle\" style=\"font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #333333; line-height: 1.4; padding-left: 10px;\">\n                                            Website: <a href=\"http://www.sbmercedes.com\" style=\"text-decoration: none; color: #333333; vertical-align: middle;\">www.sbmercedes.com</a>\n                                        </td>\n                                    </tr>\n                                </table>\n                            </td>\n                        </tr>\n\n                    </table>\n                </td>\n            </tr>\n\n        </table>\n    </center>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        0,
        384
      ],
      "id": "dbbe05e3-6d93-4ce8-b74d-2474e988082f",
      "name": "HTML5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2228dd5e-7d50-4d9e-983e-b8ed7d981da8",
              "leftValue": "={{ $json.body.call.call_analysis.custom_analysis_data.call_back_scheduled }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -544,
        1088
      ],
      "id": "1be2950b-ee26-4187-a9fe-d3d71d0e62ea",
      "name": "Callback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6eb36005-886d-4781-b6e0-9425f69599fb",
              "leftValue": "={{ $json.body.call.call_analysis.custom_analysis_data.appointment_booked }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        400
      ],
      "id": "8243a05d-695c-440c-b892-869032c46fbc",
      "name": "Appointment",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "from": "=MGf97f28db3567e1ab6c95434bec15889c",
        "to": "+15105204265",
        "message": "=Dear Admin,\n\nA new sales appointment has been scheduled with the following details:\n\nCustomer Name: {{ $json.body.call.call_analysis.custom_analysis_data.Caller_Name }}\nAppointment Date:{{ $json.body.call.call_analysis.custom_analysis_data['appointment date'] }}\nAppointment Purpose: \nVehicle of Interest:{{ $json.body.call.call_analysis.custom_analysis_data.car_model }}\n\nReference Notes:\n{{ $json.body.call.call_analysis.call_summary }}\n\nPlease ensure the team is prepared for this appointment.\n\nBest regards,\nAutomated Appointment System\n\nREPLY 'STOP' TO OPT OUT",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        416,
        848
      ],
      "id": "ddbaa0d6-9b60-4afb-a519-e0864fda8c70",
      "name": "SMS/Whatsapp to Admin1",
      "credentials": {
        "twilioApi": {
          "id": "PcO0YC16KIquuS6x",
          "name": "Twilio account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Appointment Log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat('MMMM d, yyyy \\'at\\' h:mm a') }}"
            },
            {
              "fieldId": "Agent Direction",
              "fieldValue": "={{ $json.body?.call?.direction ?? 'N/A' }}"
            },
            {
              "fieldId": "Outbound Number",
              "fieldValue": "={{ $json.body?.call?.to_number ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Name",
              "fieldValue": "={{ $json.body.call.call_analysis.custom_analysis_data.Caller_Name }}"
            },
            {
              "fieldId": "Caller Email",
              "fieldValue": "={{ $json.body.call.call_analysis.custom_analysis_data['Caller\\'s email id'] }}"
            },
            {
              "fieldId": "Appointment Date",
              "fieldValue": "={{ $json.body.call.call_analysis.custom_analysis_data['appointment date'] }}"
            },
            {
              "fieldId": "Appointment Reason",
              "fieldValue": "={{ $('PCDE').item.json.body.call.call_analysis.custom_analysis_data.Query_Type }}"
            },
            {
              "fieldId": "Vehicle Type",
              "fieldValue": "={{ $json.body.call.call_analysis.custom_analysis_data.car_model }}"
            },
            {
              "fieldId": "Sentiment",
              "fieldValue": "={{ $json.body.call.call_analysis.user_sentiment }}"
            },
            {
              "fieldId": "Appointment Notes",
              "fieldValue": "={{ $json.body.call.call_analysis.call_summary }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "43d1ec03-828e-4e87-8251-e3f5d443c22f",
      "name": "Appointment Log",
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Call back log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat('MMMM d, yyyy \\'at\\' h:mm a') }}"
            },
            {
              "fieldId": "Agent Direction",
              "fieldValue": "={{ $json.body?.call?.direction ?? 'N/A' }}"
            },
            {
              "fieldId": "Query Category",
              "fieldValue": "={{ $json.body.call.call_analysis.custom_analysis_data.Query_Type }}"
            },
            {
              "fieldId": "Outgoing Number",
              "fieldValue": "={{ $json.body.call.to_number && $json.body.call.to_number.trim() !== '' ? $json.body.call.to_number : 'N/A' }}"
            },
            {
              "fieldId": "Caller Name",
              "fieldValue": "={{ $json.body.call.call_analysis.custom_analysis_data.Caller_Name }}"
            },
            {
              "fieldId": "Caller Sentiment",
              "fieldValue": "=Retell - {{ $json.body.call.call_analysis.user_sentiment }}/ Custom - {{ $json.body.call.call_analysis.custom_analysis_data.Customer_sentiment }}"
            },
            {
              "fieldId": "Call Back Reason",
              "fieldValue": "={{ $json.body.call.call_analysis.custom_analysis_data.call_back_reason }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        1072
      ],
      "id": "9bd97ea3-ad8f-4d59-a820-8354bbffd38f",
      "name": "Call back log",
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "flashworkflow@gmail.com",
          "mode": "list",
          "cachedResultName": "flashworkflow@gmail.com"
        },
        "start": "={{ $json.body.call.call_analysis.custom_analysis_data.appointment_timestamp }}",
        "end": "={{ $json.body.call.call_analysis.custom_analysis_data.appointment_timestamp }}",
        "additionalFields": {
          "attendees": [],
          "description": "=Customer Name - {{ $json.body.call.call_analysis.custom_analysis_data.Caller_Name }}\nPhone Number - {{ $json.body.call.to_number && $json.body.call.to_number.trim() !== '' ? $json.body.call.to_number : 'N/A' }}\n{{ $json.body.call.call_analysis.call_summary }}\n",
          "summary": "=Mercedes of South Bay - {{ $json.body.call.call_analysis.custom_analysis_data.Query_Type }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        544,
        160
      ],
      "id": "c998090f-029d-4ed3-9ed7-2d14d429f126",
      "name": "Book Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2BaP72YO9q5pyBGt",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.call.call_analysis.custom_analysis_data['Caller\\'s email id'] }}",
        "subject": "Your visit has been successfully scheduled!",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        336,
        384
      ],
      "id": "288e1984-cd22-4bee-8419-bfcb462cb547",
      "name": "Appointment Confirmation",
      "webhookId": "8e014992-0192-480f-8c27-a4b1283cc4be",
      "credentials": {
        "gmailOAuth2": {
          "id": "UoPdc9soIrin9Bv8",
          "name": "Gmail account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Master Log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat('MMMM d, yyyy \\'at\\' h:mm a') }}"
            },
            {
              "fieldId": "Agent Direction",
              "fieldValue": "={{ $json.body?.call?.direction ?? 'N/A' }}"
            },
            {
              "fieldId": "Outbound Number",
              "fieldValue": "={{ $json.body.call.to_number && $json.body.call.to_number.trim() !== '' ? $json.body.call.to_number : 'N/A' }}"
            },
            {
              "fieldId": "Transcript",
              "fieldValue": "={{ $json.body.call.transcript }}"
            },
            {
              "fieldId": "Recording",
              "fieldValue": "={{ $json.body.call.recording_multi_channel_url }}"
            },
            {
              "fieldId": "Call Duration (In Seconds)",
              "fieldValue": "={{ $json.body.call.call_cost.total_duration_seconds }}"
            },
            {
              "fieldId": "Summary of call",
              "fieldValue": "={{ $json.body.call.call_analysis.call_summary }}"
            },
            {
              "fieldId": "Disconnection Reason",
              "fieldValue": "={{ $json.body.call.disconnection_reason }}"
            },
            {
              "fieldId": "Caller Sentiment",
              "fieldValue": "={{ $json.body.call.call_analysis.user_sentiment }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1360,
        352
      ],
      "id": "4fdd60a1-c64e-4e59-a02d-06ec9fea90ec",
      "name": "Master call",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Call summary",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat('MMMM d, yyyy \\'at\\' h:mm a') }}"
            },
            {
              "fieldId": "Agent Direction",
              "fieldValue": "={{ $json.body?.call?.direction ?? 'N/A' }}"
            },
            {
              "fieldId": "Outgoing Number",
              "fieldValue": "={{ $json.body.call.to_number }}"
            },
            {
              "fieldId": "Call summary",
              "fieldValue": "={{ $json.body.call.call_analysis.call_summary }}"
            },
            {
              "fieldId": "Call Result",
              "fieldValue": "=Appointment Booked - {{ $json.body.call.call_analysis.custom_analysis_data.appointment_booked }}, Call Back Requested - {{ $json.body.call.call_analysis.custom_analysis_data.call_back_scheduled }}"
            },
            {
              "fieldId": "Disconnection Reason",
              "fieldValue": "={{ $json.body.call.disconnection_reason }}"
            },
            {
              "fieldId": "Caller Sentiment",
              "fieldValue": "={{ $json.body.call.call_analysis.user_sentiment }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1360,
        576
      ],
      "id": "070a6dad-e84b-49de-a94d-02fdd895b9c8",
      "name": "Call Summary",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Add different calender route for sales and service\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        176
      ],
      "typeVersion": 1,
      "id": "980812a7-cabb-4af5-b90f-366bcba1b51e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Message Log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat('MMMM d, yyyy \\'at\\' h:mm a') }}"
            },
            {
              "fieldId": "Agent Direction",
              "fieldValue": "={{ $json.body.call.call_analysis.custom_analysis_data.Caller_Number && $json.body.call.call_analysis.custom_analysis_data.Caller_Number.trim() !== '' ? $json.body.call.call_analysis.custom_analysis_data.Caller_Number : 'N/A' }}"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        608
      ],
      "id": "1b7e72f6-213c-4e4c-9426-200ec30bc386",
      "name": "Appointment Message Storage",
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Message Log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat(\"MMMM d, yyyy 'at' h:mm a\") }}"
            },
            {
              "fieldId": "Message Type",
              "fieldValue": "SMS"
            },
            {
              "fieldId": "Recipient Type",
              "fieldValue": "Admin"
            },
            {
              "fieldId": "Recipient",
              "fieldValue": "+15105204265"
            },
            {
              "fieldId": "Recipient Name",
              "fieldValue": "Admin (Chitraksh)"
            },
            {
              "fieldId": "Message Category",
              "fieldValue": "Callback_Alert_SMS_Admin"
            },
            {
              "fieldId": "Message Summary",
              "fieldValue": "={{ '[SMS] Callback alert \u2192 Admin | Customer: ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'N/A') + ' | Reason: ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data.call_back_reason ?? 'N/A') }}"
            },
            {
              "fieldId": "Call ID",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_id ?? 'N/A' }}"
            },
            {
              "fieldId": "Call Direction",
              "fieldValue": "={{ $('Webhook').item.json.body.call.direction ?? 'N/A' }}"
            },
            {
              "fieldId": "Agent Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.agent_name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Phone",
              "fieldValue": "={{ $('Webhook').item.json.body.call.to_number ?? 'N/A' }}"
            },
            {
              "fieldId": "Execution ID",
              "fieldValue": "={{ $execution.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1488,
        1664
      ],
      "id": "48bfc33d-e1ee-45d7-a89a-71d21882f773",
      "name": "Message Storage Admin",
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "disabled": false
    },
    {
      "parameters": {
        "sendTo": "mayankchitraksh@gmail.com",
        "subject": "ERROR IN CALENDER OUTBOUND N8N",
        "message": "dw rest is being executed hopefully",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        224
      ],
      "id": "4a87bb90-cd20-4f72-ab6d-a38d4ad9dae0",
      "name": "Send a message",
      "webhookId": "358bc13f-79ed-493c-acac-a520ad978456",
      "credentials": {
        "gmailOAuth2": {
          "id": "UoPdc9soIrin9Bv8",
          "name": "Gmail account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d4a3dea8-81f5-4641-834d-46ec813fba9a",
              "leftValue": "={{ $json.body.call.call_analysis.custom_analysis_data['User consent for recording'] }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2112,
        1088
      ],
      "id": "a821e699-ed96-4698-be21-3436a8c11295",
      "name": "Consent"
    },
    {
      "parameters": {
        "from": "MGf97f28db3567e1ab6c95434bec15889c",
        "to": "={{ $json.body?.call?.to_number ?? 'N/A' }}",
        "message": "=Dear {{ \n  (() => {\n    const name = $json.body.call.call_analysis.custom_analysis_data.Caller_Name;\n    if (!name || !name.trim() || /^n\\/?a$|{{|caller|unknown|none/i.test(name.trim())) {\n      return 'Valued Customer';\n    }\n    return name;\n  })()\n}},\n\nThank you for your interest in Mercedes-Benz. We are pleased to confirm your sales appointment scheduled for \n{{ $json.body.call.call_analysis.custom_analysis_data['appointment date'] }}\nOur sales team is excited to assist you in finding the perfect Mercedes-Benz that meets your needs. We look forward to showcasing our exceptional range of vehicles.\n\nShould you need to reschedule or have any questions, please contact us.\n\nDirections to our dealership: https://maps.app.goo.gl/GM5NkiFxBX2oL7r18\n\nWe look forward to welcoming you soon.\n\nWarm regards,\nMercedes-Benz of South Bay\n\nREPLY 'STOP' TO OPT-OUT",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        384,
        608
      ],
      "id": "4f42cac6-00c4-4a9b-9430-3b0dbb3b6ecc",
      "name": "SMS/Whatsapp to Customer",
      "credentials": {
        "twilioApi": {
          "id": "PcO0YC16KIquuS6x",
          "name": "Twilio account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chitraksh3.app.n8n.cloud/webhook/c11333ff-108f-4367-9289-c87250bf432f",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        1232
      ],
      "id": "f6e20452-5428-4dc9-a222-379f41b3497b",
      "name": "Trigger Reminder Workflow",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## I'm a note \n24hr 12 hr 6hrs 2hrs 15min"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        1200
      ],
      "typeVersion": 1,
      "id": "3e81d25c-33f6-444d-999c-50792fb2674b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "html": "{{ $json.body.call.call_analysis.custom_analysis_data.call_back_reason }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        112,
        1664
      ],
      "id": "8a632e9c-af4d-4858-8e35-1c0c9ff7b31e",
      "name": "HTML"
    },
    {
      "parameters": {
        "from": "=MGf97f28db3567e1ab6c95434bec15889c",
        "to": "=+15105204265",
        "message": "=\ud83d\udccb ADMIN NOTIFICATION\nMercedes of South Bay\n\n{{ $json.smsText }}\n\n\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\ud83e\udd16 Automated by Oraya AI\nDo not reply to this message.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1072,
        1664
      ],
      "id": "6fe1e376-6c6e-44ec-b0be-3a99c7466789",
      "name": "Call back confirmation to Admin",
      "credentials": {
        "twilioApi": {
          "id": "PcO0YC16KIquuS6x",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.html;\n\nconst text = html\n  .replace(/<h3>/gi, '\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n')\n  .replace(/<\\/h3>/gi, '\\n')\n  .replace(/<ul>/gi, '')\n  .replace(/<\\/ul>/gi, '')\n  .replace(/<li>/gi, '\u2022 ')\n  .replace(/<\\/li>/gi, '\\n')\n  .replace(/<strong>(.*?)<\\/strong>/gi, '$1')\n  .replace(/<[^>]+>/g, '')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn [{ json: { smsText: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1664
      ],
      "id": "617b866f-5b9d-4c7b-858d-08a8ae09a9be",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Message Log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat('MMMM d, yyyy \\'at\\' h:mm a') }}"
            },
            {
              "fieldId": "Agent Direction",
              "fieldValue": "={{ $json.body.call.call_analysis.custom_analysis_data.Caller_Number && $json.body.call.call_analysis.custom_analysis_data.Caller_Number.trim() !== '' ? $json.body.call.call_analysis.custom_analysis_data.Caller_Number : 'N/A' }}"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        848
      ],
      "id": "3e2a70f9-1c15-4294-a210-0ba4c3b58882",
      "name": "Appointment Message Storage1",
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\"/>\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"/>\n<title>Admin Notification \u2014 Reminder Workflow Executed</title>\n<style>\n  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');\n\n  body {\n    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;\n    background-color: #f0f2f5;\n    margin: 0;\n    padding: 0;\n    -webkit-text-size-adjust: none;\n    color: #000000;\n  }\n\n  .email-container {\n    max-width: 620px;\n    margin: 40px auto;\n    background-color: #ffffff;\n    overflow: hidden;\n    box-shadow: 0 10px 25px rgba(0,0,0,0.07);\n    border: 1px solid #e0e0e0;\n  }\n\n  .header-wrapper {\n    background-color: #ffffff;\n    padding: 0;\n    text-align: center;\n  }\n\n  .header-image {\n    width: 100%;\n    height: auto;\n    display: block;\n  }\n\n  .brand-line {\n    height: 3px;\n    background-color: #000000;\n    width: 100%;\n  }\n\n  .content {\n    padding: 36px 40px;\n  }\n\n  h2 {\n    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\n    color: #000000;\n    margin-top: 0;\n    margin-bottom: 6px;\n    font-size: 24px;\n    font-weight: 700;\n    text-align: center;\n    letter-spacing: 0.5px;\n    text-transform: uppercase;\n  }\n\n  .subtitle {\n    text-align: center;\n    color: #777777;\n    font-size: 14px;\n    margin-bottom: 32px;\n    font-weight: 400;\n  }\n\n  /* Status badge */\n  .status-row {\n    text-align: center;\n    margin-bottom: 28px;\n  }\n  .status-badge {\n    display: inline-block;\n    font-size: 10px;\n    font-weight: 700;\n    letter-spacing: 1.4px;\n    text-transform: uppercase;\n    color: #1a7a55;\n    background-color: #edf7f2;\n    border: 1px solid #b2dfc9;\n    border-radius: 2px;\n    padding: 5px 14px;\n  }\n  .status-dot {\n    display: inline-block;\n    width: 7px;\n    height: 7px;\n    border-radius: 50%;\n    background-color: #1a7a55;\n    margin-right: 6px;\n    vertical-align: middle;\n  }\n\n  /* Section header */\n  .section-title {\n    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\n    font-size: 10px;\n    font-weight: 700;\n    letter-spacing: 1.8px;\n    text-transform: uppercase;\n    color: #aaaaaa;\n    border-bottom: 1px solid #eeeeee;\n    padding-bottom: 8px;\n    margin-bottom: 18px;\n    margin-top: 28px;\n  }\n\n  /* Customer block */\n  .customer-name {\n    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\n    font-size: 20px;\n    font-weight: 700;\n    color: #000000;\n    margin-bottom: 16px;\n  }\n\n  .info-grid {\n    width: 100%;\n    border-collapse: collapse;\n  }\n  .info-grid td {\n    padding: 0 0 14px 0;\n    vertical-align: top;\n    width: 50%;\n  }\n\n  .label {\n    font-family: 'Roboto', Arial, sans-serif;\n    font-size: 10px;\n    text-transform: uppercase;\n    letter-spacing: 1.4px;\n    color: #aaaaaa;\n    margin-bottom: 4px;\n    font-weight: 700;\n  }\n\n  .value {\n    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\n    font-size: 14px;\n    color: #111111;\n    font-weight: 500;\n    line-height: 1.5;\n  }\n\n  /* Triggered at row */\n  .trigger-row {\n    background-color: #fafafa;\n    border: 1px solid #eeeeee;\n    border-radius: 2px;\n    padding: 12px 16px;\n    margin-bottom: 0;\n  }\n  .trigger-row .label { margin-bottom: 3px; }\n  .trigger-row .value { font-size: 13px; color: #333333; font-weight: 400; }\n\n  /* Reminders table */\n  .reminders-table {\n    width: 100%;\n    border-collapse: collapse;\n    border: 1px solid #eeeeee;\n    border-radius: 2px;\n    overflow: hidden;\n  }\n  .reminders-table thead tr {\n    background-color: #f8f8f8;\n  }\n  .reminders-table thead td {\n    font-size: 9px;\n    font-weight: 700;\n    letter-spacing: 1.4px;\n    text-transform: uppercase;\n    color: #aaaaaa;\n    padding: 9px 14px;\n    border-bottom: 1px solid #eeeeee;\n  }\n  .reminders-table tbody tr:last-child td {\n    border-bottom: none;\n  }\n\n  .r-num {\n    display: inline-block;\n    width: 20px;\n    height: 20px;\n    line-height: 20px;\n    text-align: center;\n    border: 1px solid #dddddd;\n    border-radius: 2px;\n    font-size: 10px;\n    font-weight: 700;\n    color: #555555;\n    background-color: #f5f5f5;\n  }\n\n  .queued-badge {\n    font-size: 9px;\n    font-weight: 700;\n    letter-spacing: .1em;\n    text-transform: uppercase;\n    color: #1a7a55;\n    background-color: #edf7f2;\n    border: 1px solid #b2dfc9;\n    border-radius: 2px;\n    padding: 3px 8px;\n  }\n\n  /* Call summary */\n  .summary-box {\n    background-color: #fffdf0;\n    border: 1px solid #f0e6b0;\n    border-radius: 2px;\n    padding: 14px 16px;\n  }\n  .summary-box p {\n    font-family: 'Roboto', Arial, sans-serif;\n    font-size: 13px;\n    color: #555555;\n    line-height: 1.75;\n    margin: 0;\n  }\n\n  /* Footer */\n  .footer {\n    background-color: #000000;\n    text-align: center;\n    padding: 22px 25px;\n    font-size: 11px;\n    color: #888888;\n    font-family: 'Roboto', sans-serif;\n    letter-spacing: 0.5px;\n    text-transform: uppercase;\n  }\n  .footer .reminders-count {\n    display: inline-block;\n    margin-top: 8px;\n    font-size: 10px;\n    font-weight: 700;\n    letter-spacing: 1px;\n    color: #4ecda0;\n    background: rgba(78,205,160,.1);\n    border: 1px solid rgba(78,205,160,.25);\n    border-radius: 2px;\n    padding: 4px 12px;\n    text-transform: uppercase;\n  }\n\n  @media only screen and (max-width: 600px) {\n    .content { padding: 28px 20px; }\n    h2 { font-size: 20px; }\n    .info-grid td { display: block; width: 100%; }\n  }\n</style>\n</head>\n<body>\n\n<div class=\"email-container\">\n\n  <!-- Header Image -->\n  <div class=\"header-wrapper\">\n    <img src=\"https://44f5438981.imgdist.com/pub/bfra/z5p5wll5/agc/kwb/87w/Gemini_Generated_Image_e3y4u8e3y4u8e3y4.png\"\n      alt=\"Service Header\" class=\"header-image\"/>\n  </div>\n\n  <div class=\"brand-line\"></div>\n\n  <div class=\"content\">\n\n    <h2>Reminder Workflow Executed</h2>\n    <div class=\"subtitle\">All scheduled reminders have been queued for the customer below</div>\n\n    <div class=\"status-row\">\n      <span class=\"status-badge\">\n        <span class=\"status-dot\"></span>Workflow Executed Successfully\n      </span>\n    </div>\n\n    <!-- Triggered At -->\n    <div class=\"trigger-row\">\n      <div class=\"label\">Triggered At</div>\n      <div class=\"value\">{{ $now.setZone('America/Los_Angeles').toFormat('MMMM d, yyyy \\'at\\' h:mm a') }} &nbsp;\u00b7&nbsp; SYSTEM \u00b7 ADMIN</div>\n    </div>\n\n    <!-- Customer Details -->\n    <div class=\"section-title\">Customer Details</div>\n\n    <div class=\"customer-name\">{{ $('Calculate Reminder Times1').first().json.customerName }}</div>\n\n    <table class=\"info-grid\" cellpadding=\"0\" cellspacing=\"0\">\n      <tr>\n        <td>\n          <div class=\"label\">Phone</div>\n          <div class=\"value\">{{ $('Calculate Reminder Times1').first().json.customerPhone || '\u2014' }}</div>\n        </td>\n        <td>\n          <div class=\"label\">Email</div>\n          <div class=\"value\">{{ $('Calculate Reminder Times1').first().json.customerEmail || '\u2014' }}</div>\n        </td>\n      </tr>\n      <tr>\n        <td>\n          <div class=\"label\">Car Model</div>\n          <div class=\"value\">{{ $('Calculate Reminder Times1').first().json.carModel || '\u2014' }}</div>\n        </td>\n        <td>\n          <div class=\"label\">Appointment</div>\n          <div class=\"value\">{{ $('Calculate Reminder Times1').first().json.appointmentDate }}</div>\n        </td>\n      </tr>\n    </table>\n\n    <!-- Reminder Schedule -->\n    <div class=\"section-title\">Reminder Schedule \u2014 {{ $('Calculate Reminder Times1').all().length }} Triggers Queued</div>\n\n    <table class=\"reminders-table\" cellpadding=\"0\" cellspacing=\"0\">\n      <thead>\n        <tr>\n          <td style=\"width:40px;\">#</td>\n          <td>Reminder</td>\n          <td>Scheduled Time</td>\n          <td style=\"text-align:right;\">Status</td>\n        </tr>\n      </thead>\n      <tbody>\n        {{ $('Calculate Reminder Times1').all().map((item, index) => {\n          const reminderTime = new Date(item.json.reminderTime).toLocaleString('en-US', {\n            month: 'short', day: 'numeric', year: 'numeric',\n            hour: '2-digit', minute: '2-digit'\n          });\n          return `\n          <tr>\n            <td style=\"padding:10px 14px;border-bottom:1px solid #eeeeee;\">\n              <span class=\"r-num\">${index + 1}</span>\n            </td>\n            <td style=\"padding:10px 14px;border-bottom:1px solid #eeeeee;\n              font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;font-weight:600;color:#111111;\">\n              ${item.json.reminderLabel} prior\n            </td>\n            <td style=\"padding:10px 14px;border-bottom:1px solid #eeeeee;\n              font-family:'Roboto',Arial,sans-serif;font-size:12px;color:#777777;\">\n              ${reminderTime}\n            </td>\n            <td style=\"padding:10px 14px;border-bottom:1px solid #eeeeee;text-align:right;\">\n              <span class=\"queued-badge\">Queued</span>\n            </td>\n          </tr>`;\n        }).join('') }}\n      </tbody>\n    </table>\n\n    <!-- Call Summary -->\n    <div class=\"section-title\">Call Summary</div>\n\n    <div class=\"summary-box\">\n      <p>{{ $('Calculate Reminder Times1').first().json.callSummary || 'No call summary available.' }}</p>\n    </div>\n\n  </div>\n\n  <!-- Footer -->\n  <div class=\"footer\">\n    <div>Automated Notification &nbsp;\u00b7&nbsp; Reminder Workflow &nbsp;\u00b7&nbsp; </div>\n    <div class=\"reminders-count\">\u25cf &nbsp;{{ $('Calculate Reminder Times1').all().length }} Reminders Active</div>\n  </div>\n\n</div>\n\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2256,
        976
      ],
      "id": "67638002-57c4-4f4a-858c-e0d22a239b4f",
      "name": "HTML REMINDER"
    },
    {
      "parameters": {
        "sendTo": "=mayankchitraksh@gmail.com",
        "subject": "\u23f0 Tick Tock! Your Workflow Ran \u2013 Here's What's Next",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2576,
        976
      ],
      "id": "63f5a838-ca7a-4fd2-8b6d-2f35f3430ed5",
      "name": "Reminder Confirmation to Myankc",
      "webhookId": "8e014992-0192-480f-8c27-a4b1283cc4be",
      "credentials": {
        "gmailOAuth2": {
          "id": "UoPdc9soIrin9Bv8",
          "name": "Gmail account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2000,
        976
      ],
      "id": "078d21ee-9828-4ff1-a12e-dd13762e1c17",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "manifestdestiny247@gmail.com",
        "subject": "=\u23f0 Tick Tock! Your Workflow Ran \u2013 Here's What's Next",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2592,
        1184
      ],
      "id": "ef696513-5c89-4473-ae52-7a6f6202cc98",
      "name": "Reminder to Frankie",
      "webhookId": "efad17a7-03a3-470c-b03b-bb0035878997",
      "credentials": {
        "gmailOAuth2": {
          "id": "UoPdc9soIrin9Bv8",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "mayankchitraksh@gmail.com",
        "subject": "\ud83d\udea8 Don't Miss It \u2013 Callback Appointment Confirmed!",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        1136
      ],
      "id": "5fda8280-0321-49cd-9412-d46a8138c3c9",
      "name": "Message to Admin1",
      "webhookId": "a5a54fe4-9f13-4958-9d9c-263ab8ae2884",
      "credentials": {
        "gmailOAuth2": {
          "id": "UoPdc9soIrin9Bv8",
          "name": "Gmail account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "manifestdestiny247@gmail.com",
        "subject": "=\ud83d\udea8 Don't Miss It \u2013 Callback Appointment Confirmed!",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        1280
      ],
      "id": "974f604a-9d51-4d4f-972a-6e225249dbbb",
      "name": "Call Back to Frankie",
      "webhookId": "efad17a7-03a3-470c-b03b-bb0035878997",
      "credentials": {
        "gmailOAuth2": {
          "id": "UoPdc9soIrin9Bv8",
          "name": "Gmail account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\"/>\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"/>\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/>\n<title>Callback Request \u2014 Mercedes-Benz of South Bay</title>\n<style>\n  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');\n\n  /* === RESET === */\n  * { margin: 0; padding: 0; box-sizing: border-box; }\n\n  body {\n    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;\n    background-color: #f4f5f7;\n    margin: 0;\n    padding: 0;\n    -webkit-text-size-adjust: 100%;\n    -ms-text-size-adjust: 100%;\n    color: #1a1a1a;\n  }\n\n  /* === CONTAINER === */\n  .email-container {\n    max-width: 600px;\n    margin: 32px auto;\n    background-color: #ffffff;\n    overflow: hidden;\n    border-radius: 16px;\n    box-shadow:\n      0 1px 3px rgba(0,0,0,0.04),\n      0 8px 24px rgba(0,0,0,0.08);\n  }\n\n  /* === HEADER === */\n  .header-wrapper {\n    position: relative;\n    background: #000000;\n    overflow: hidden;\n  }\n  .header-image {\n    width: 100%;\n    height: auto;\n    display: block;\n  }\n\n  /* === ACCENT BAR === */\n  .accent-bar {\n    height: 3px;\n    background: #000000;\n  }\n\n  /* === CONTENT === */\n  .content {\n    padding: 32px 32px 24px;\n  }\n\n  /* === TITLE === */\n  .title-block {\n    text-align: center;\n    margin-bottom: 24px;\n  }\n  .title-block h2 {\n    font-size: 22px;\n    font-weight: 700;\n    letter-spacing: 2px;\n    text-transform: uppercase;\n    color: #0a0a0a;\n    margin-bottom: 6px;\n  }\n  .title-block .subtitle {\n    font-size: 13px;\n    color: #888;\n    font-weight: 400;\n    letter-spacing: 0.2px;\n  }\n\n  /* === STATUS BADGE === */\n  .status-row {\n    text-align: center;\n    margin-bottom: 24px;\n  }\n  .status-badge {\n    display: inline-block;\n    font-size: 11px;\n    font-weight: 600;\n    letter-spacing: 1px;\n    text-transform: uppercase;\n    color: #1a7a4a;\n    background: linear-gradient(135deg, #f0faf5, #e8f8ef);\n    border: 1px solid #b8dfc9;\n    border-radius: 100px;\n    padding: 8px 18px;\n    white-space: nowrap;\n    line-height: 1;\n  }\n  .status-dot {\n    display: inline-block;\n    width: 8px;\n    height: 8px;\n    border-radius: 50%;\n    background-color: #1a7a4a;\n    vertical-align: middle;\n    margin-right: 8px;\n    animation: pulse 2s ease-in-out infinite;\n  }\n  @keyframes pulse {\n    0%, 100% { opacity: 1; }\n    50% { opacity: 0.3; }\n  }\n\n  /* === TIMESTAMP CARD === */\n  .timestamp-card {\n    background: #fafafa;\n    border: 1px solid #eee;\n    border-radius: 10px;\n    padding: 14px 18px;\n    margin-bottom: 28px;\n  }\n  .timestamp-top {\n    display: block;\n    margin-bottom: 10px;\n  }\n  .timestamp-top .label {\n    font-size: 10px;\n    font-weight: 700;\n    letter-spacing: 1.4px;\n    text-transform: uppercase;\n    color: #aaa;\n    display: block;\n    margin-bottom: 4px;\n  }\n  .timestamp-top .value {\n    font-size: 14px;\n    font-weight: 500;\n    color: #111;\n    display: block;\n  }\n  .priority-chip {\n    display: inline-block;\n    font-size: 9px;\n    font-weight: 700;\n    letter-spacing: 1.5px;\n    text-transform: uppercase;\n    color: #fff;\n    background: #111;\n    padding: 5px 14px;\n    border-radius: 4px;\n    margin-top: 4px;\n  }\n\n  /* === SECTION TITLES === */\n  .section-title {\n    font-size: 10px;\n    font-weight: 700;\n    letter-spacing: 1.8px;\n    text-transform: uppercase;\n    color: #bbb;\n    padding-bottom: 8px;\n    border-bottom: 1px solid #f0f0f0;\n    margin-bottom: 14px;\n    margin-top: 24px;\n  }\n\n  /* === PHONE BLOCK === */\n  .phone-hero {\n    margin-bottom: 4px;\n  }\n  .phone-number {\n    font-size: 30px;\n    font-weight: 300;\n    color: #0a0a0a;\n    letter-spacing: 1.5px;\n    line-height: 1.2;\n    margin-bottom: 4px;\n    word-break: break-word;\n  }\n  .phone-note {\n    font-size: 11px;\n    color: #aaa;\n    font-weight: 400;\n    letter-spacing: 0.3px;\n  }\n\n  /* === INFO CARDS === */\n  .info-cards {\n    display: grid;\n    grid-template-columns: 1fr 1fr;\n    gap: 12px;\n  }\n  .info-card {\n    background: #fafafa;\n    border: 1px solid #f0f0f0;\n    border-radius: 10px;\n    padding: 14px 16px;\n  }\n  .info-card .label {\n    font-size: 10px;\n    font-weight: 700;\n    letter-spacing: 1.2px;\n    text-transform: uppercase;\n    color: #aaa;\n    margin-bottom: 6px;\n    display: block;\n  }\n  .info-card .value {\n    font-size: 15px;\n    font-weight: 500;\n    color: #111;\n    line-height: 1.4;\n    word-break: break-word;\n  }\n  .info-card .value a {\n    color: #1a7a4a;\n    text-decoration: none;\n    font-weight: 500;\n  }\n  .info-card .value a:hover {\n    text-decoration: underline;\n  }\n\n  /* === SENTIMENT === */\n  .sentiment-wrap {\n    display: inline-block;\n    padding: 10px 18px;\n    border: 1px solid #e0e0e0;\n    border-radius: 100px;\n    background: #fafafa;\n    margin-top: 4px;\n    white-space: nowrap;\n    line-height: 1;\n  }\n  .sentiment-indicator {\n    display: inline-block;\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n    vertical-align: middle;\n    margin-right: 10px;\n  }\n  /* Dynamic colors based on sentiment */\n  .sentiment-positive .sentiment-indicator { background: #1a7a4a; }\n  .sentiment-positive .sentiment-text { color: #1a7a4a; }\n  .sentiment-negative .sentiment-indicator { background: #dc3545; }\n  .sentiment-negative .sentiment-text { color: #dc3545; }\n  .sentiment-neutral .sentiment-indicator { background: #f0ad4e; }\n  .sentiment-neutral .sentiment-text { color: #b8860b; }\n  .sentiment-default .sentiment-indicator { background: #555; }\n  .sentiment-default .sentiment-text { color: #333; }\n\n  .sentiment-text {\n    display: inline-block;\n    font-size: 14px;\n    font-weight: 600;\n    letter-spacing: 0.3px;\n    vertical-align: middle;\n  }\n\n  /* === REASON BOX === */\n  .reason-box {\n    background: linear-gradient(135deg, #f7fdf9, #f0faf5);\n    border: 1px solid #c8e6d5;\n    border-left: 4px solid #1a7a4a;\n    border-radius: 10px;\n    padding: 18px 20px;\n    margin-top: 4px;\n  }\n  .reason-box .reason-label {\n    font-size: 10px;\n    font-weight: 700;\n    letter-spacing: 1.4px;\n    text-transform: uppercase;\n    color: #1a7a4a;\n    margin-bottom: 8px;\n  }\n  .reason-box .reason-text {\n    font-size: 14px;\n    color: #1a1a1a;\n    font-weight: 400;\n    line-height: 1.8;\n    text-align: justify;\n    word-break: break-word;\n  }\n  /* Category headings inside reason text (bold lines like \"Customer Information\") */\n  .reason-box .reason-text strong,\n  .reason-box .reason-text b {\n    display: block;\n    font-size: 13px;\n    font-weight: 700;\n    letter-spacing: 0.5px;\n    color: #0a0a0a;\n    margin-top: 18px;\n    margin-bottom: 6px;\n    padding-top: 14px;\n    border-top: 1px solid #d4eddf;\n  }\n  /* First bold heading shouldn't have top border/margin */\n  .reason-box .reason-text strong:first-child,\n  .reason-box .reason-text b:first-child {\n    margin-top: 0;\n    padding-top: 0;\n    border-top: none;\n  }\n  /* Bullet list styling */\n  .reason-box .reason-text ul {\n    margin: 6px 0 4px 0;\n    padding-left: 18px;\n    list-style: none;\n  }\n  .reason-box .reason-text ul li {\n    position: relative;\n    padding: 4px 0 4px 12px;\n    line-height: 1.7;\n    text-align: justify;\n  }\n  .reason-box .reason-text ul li::before {\n    content: '';\n    position: absolute;\n    left: 0;\n    top: 12px;\n    width: 5px;\n    height: 5px;\n    border-radius: 50%;\n    background: #1a7a4a;\n  }\n  /* Paragraphs inside reason */\n  .reason-box .reason-text p {\n    margin-bottom: 8px;\n    text-align: justify;\n  }\n  /* Handle plain-text / whitespace-based content */\n  .reason-box .reason-text {\n    white-space: pre-line;\n  }\n  /* If content has <h3>, <h4> etc from markdown rendering */\n  .reason-box .reason-text h1,\n  .reason-box .reason-text h2,\n  .reason-box .reason-text h3,\n  .reason-box .reason-text h4,\n  .reason-box .reason-text h5 {\n    font-size: 13px;\n    font-weight: 700;\n    letter-spacing: 0.5px;\n    color: #0a0a0a;\n    margin-top: 18px;\n    margin-bottom: 6px;\n    padding-top: 14px;\n    border-top: 1px solid #d4eddf;\n    text-align: left;\n  }\n  .reason-box .reason-text h1:first-child,\n  .reason-box .reason-text h2:first-child,\n  .reason-box .reason-text h3:first-child,\n  .reason-box .reason-text h4:first-child,\n  .reason-box .reason-text h5:first-child {\n    margin-top: 0;\n    padding-top: 0;\n    border-top: none;\n  }\n\n  /* === FOOTER === */\n  .footer {\n    background: #0a0a0a;\n    padding: 20px 32px;\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    flex-wrap: wrap;\n    gap: 8px;\n  }\n  .footer-left {\n    font-size: 11px;\n    color: #666;\n    letter-spacing: 0.3px;\n    line-height: 1.7;\n  }\n  .footer-left strong {\n    color: #ccc;\n    font-weight: 600;\n  }\n  .footer-right {\n    font-size: 10px;\n    font-weight: 700;\n    letter-spacing: 1.2px;\n    text-transform: uppercase;\n    color: #1a7a4a;\n  }\n\n  /* ============ MOBILE ============ */\n  @media only screen and (max-width: 600px) {\n    body {\n      background-color: #f4f5f7;\n    }\n    .email-container {\n      margin: 0;\n      border-radius: 0;\n      box-shadow: none;\n    }\n    .content {\n      padding: 24px 20px 20px;\n    }\n    .title-block h2 {\n      font-size: 18px;\n      letter-spacing: 1.5px;\n    }\n    .phone-number {\n      font-size: 24px;\n    }\n    .info-cards {\n      grid-template-columns: 1fr;\n    }\n    .footer {\n      flex-direction: column;\n      text-align: center;\n      padding: 18px 20px;\n    }\n    .footer-left, .footer-right {\n      text-align: center;\n    }\n  }\n</style>\n</head>\n<body>\n\n<div class=\"email-container\">\n\n  <!-- Header Image -->\n  <div class=\"header-wrapper\">\n    <img\n      src=\"https://44f5438981.imgdist.com/pub/bfra/z5p5wll5/agc/kwb/87w/Gemini_Generated_Image_e3y4u8e3y4u8e3y4.png\"\n      alt=\"Mercedes-Benz of South Bay\"\n      class=\"header-image\"\n    />\n  </div>\n\n  <!-- Animated Accent Bar -->\n  <div class=\"accent-bar\"></div>\n\n  <div class=\"content\">\n\n    <!-- Title -->\n    <div class=\"title-block\">\n      <h2>Callback Request</h2>\n      <div class=\"subtitle\">A new customer inquiry requires your attention</div>\n    </div>\n\n    <!-- Status Badge -->\n    <div class=\"status-row\">\n      <span class=\"status-badge\"><span class=\"status-dot\"></span><span style=\"vertical-align:middle;\">Immediate Attention Required</span></span>\n    </div>\n\n    <!-- Timestamp & Priority (stacked, not side-by-side) -->\n    <div class=\"timestamp-card\">\n      <div class=\"timestamp-top\">\n        <span class=\"label\">Received At</span>\n        <span class=\"value\">{{ $now.setZone('America/Los_Angeles').toFormat('MMMM d, yyyy \\'at\\' h:mm a') }}</span>\n      </div>\n      <span class=\"priority-chip\">Admin \u00b7 Confidential</span>\n    </div>\n\n    <!-- Incoming Number -->\n    <div class=\"section-title\">Incoming Call</div>\n    <div class=\"phone-hero\">\n      <div class=\"phone-number\">{{ $json.body.call.from_number && $json.body.call.from_number.trim() !== '' ? $json.body.call.from_number : 'N/A' }}</div>\n      <div class=\"phone-note\">Incoming Phone Number</div>\n    </div>\n\n    <!-- Customer Details -->\n    <div class=\"section-title\">Customer Details</div>\n    <div class=\"info-cards\">\n      <div class=\"info-card\">\n        <span class=\"label\">Caller Name</span>\n        <div class=\"value\">{{ $json.body.call.call_analysis.custom_analysis_data.Caller_Name }}</div>\n      </div>\n      <div class=\"info-card\">\n        <span class=\"label\">Email</span>\n        <div class=\"value\">\n          <a href=\"mailto:{{ $json.body.call.call_analysis.custom_analysis_data['Caller\\'s email id'] }}\">\n            {{ $json.body.call.call_analysis.custom_analysis_data['Caller\\'s email id'] }}\n          </a>\n        </div>\n      </div>\n    </div>\n\n    <!-- Sentiment -->\n    <div class=\"section-title\">Detected Sentiment</div>\n    <div class=\"sentiment-wrap sentiment-positive\">\n      <div class=\"sentiment-indicator\"></div>\n      <div class=\"sentiment-text\">{{ $json.body.call.call_analysis.user_sentiment }}</div>\n    </div>\n\n    <!-- Callback Reason -->\n    <div class=\"section-title\">Reason for Callback &amp; Recommended Action</div>\n    <div class=\"reason-box\">\n      <div class=\"reason-label\">Callback Reason</div>\n      <div class=\"reason-text\">{{ $json.body.call.call_analysis.custom_analysis_data.call_back_reason }}</div>\n    </div>\n\n  </div>\n\n  <!-- Footer -->\n  <div class=\"footer\">\n    <div class=\"footer-left\">\n      <strong>Mercedes-Benz of South Bay</strong><br/>\n      Automated Notification \u00b7 Oraya AI LLC\n    </div>\n    <div class=\"footer-right\">Admin Notification</div>\n  </div>\n\n</div>\n\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        224,
        1312
      ],
      "id": "f681aa47-f316-4af3-b792-74d4a237a280",
      "name": "HTML1"
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500 Get raw date string \u2500\u2500\nconst data = $input.first().json.body.call.call_analysis.custom_analysis_data;\nconst rawDate = data.appointment_timestamp\n  || data['appointment date']\n  || data['Appointment Date'];\n\nif (!rawDate) throw new Error('No appointment date found in input data');\n\n// \u2500\u2500 Parse ISO 8601 format (e.g., \"2026-03-13T12:00:00-07:00\") or human-readable format \u2500\u2500\nlet appointmentPacific;\n\n// Try ISO 8601 format first\nif (/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/.test(rawDate)) {\n  // ISO format detected\n  appointmentPacific = DateTime.fromISO(rawDate, { zone: 'America/Los_Angeles' });\n} else {\n  // Try human-readable format: \"12:00 PM on 13th of March, 2026\"\n  const match = rawDate.match(\n    /(\\d{1,2}):(\\d{2})\\s*(AM|PM)\\s+on\\s+(\\d{1,2})(?:st|nd|rd|th)\\s+of\\s+(\\w+),?\\s+(\\d{4})/i\n  );\n  if (!match) throw new Error('Could not parse appointment date: ' + rawDate);\n\n  let [, hh, mm, ampm, dd, monthName, yyyy] = match;\n  hh = parseInt(hh); mm = parseInt(mm);\n  dd = parseInt(dd);  yyyy = parseInt(yyyy);\n\n  if (ampm.toUpperCase() === 'PM' && hh !== 12) hh += 12;\n  if (ampm.toUpperCase() === 'AM' && hh === 12) hh = 0;\n\n  const monthMap = {\n    january:1, february:2, march:3, april:4, may:5, june:6,\n    july:7, august:8, september:9, october:10, november:11, december:12\n  };\n  const mo = monthMap[monthName.toLowerCase()];\n  if (!mo) throw new Error('Unknown month: ' + monthName);\n\n  appointmentPacific = DateTime.fromObject(\n    { year: yyyy, month: mo, day: dd, hour: hh, minute: mm, second: 0 },\n    { zone: 'America/Los_Angeles' }\n  );\n}\n\nif (!appointmentPacific.isValid) {\n  throw new Error('Invalid date constructed: ' + appointmentPacific.invalidReason);\n}\n\nconst appointmentMs = appointmentPacific.toMillis();\n\n// \u2500\u2500 Reminder offsets \u2500\u2500\nconst HOUR = 3_600_000;\nconst MIN  = 60_000;\n\nconst reminders = [\n  { label: '24 hours',   offset: 24 * HOUR },\n  { label: '12 hours',   offset: 12 * HOUR },\n  { label: '6 hours',    offset:  6 * HOUR },\n  { label: '3 hours',    offset:  3 * HOUR },\n  { label: '2 hours',    offset:  2 * HOUR },\n  { label: '15 minutes', offset: 15 * MIN  },\n];\n\n// \u2500\u2500 Customer info \u2500\u2500\nconst callerName = data.Caller_Name || '';\nconst cleanName = (!callerName || !callerName.trim()\n  || /^n\\/?a$|caller|unknown|none/i.test(callerName.trim()))\n  ? 'Valued Customer' : callerName.trim();\n\nconst customerEmail = data[\"Caller's email id\"] || data.Caller_Email || '';\nconst customerPhone = $input.first().json.body?.call?.to_number || '';\nconst appointmentDateDisplay = data['appointment date'] || data['Appointment Date'] || rawDate;\nconst carModel    = data.car_model || '';\nconst callSummary = $input.first().json.body?.call?.call_analysis?.call_summary || '';\n\n// \u2500\u2500 Output one item per reminder \u2500\u2500\nreturn reminders.map(r => ({\n  json: {\n    reminderTime:  new Date(appointmentMs - r.offset).toISOString(),\n    reminderLabel: r.label,\n    customerName:  cleanName,\n    customerEmail,\n    customerPhone,\n    appointmentDate: appointmentDateDisplay,\n    carModel,\n    callSummary,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        1152
      ],
      "id": "7e258e6f-980f-4b10-b43c-c5e8e603d53f",
      "name": "Calculate Reminder Times"
    },
    {
      "parameters": {
        "tableId": "Message Log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat(\"MMMM d, yyyy 'at' h:mm a\") }}"
            },
            {
              "fieldId": "Message Type",
              "fieldValue": "SMS"
            },
            {
              "fieldId": "Recipient Type",
              "fieldValue": "Customer"
            },
            {
              "fieldId": "Recipient",
              "fieldValue": "={{$('Webhook').item.json.body.call.to_number ?? 'N/A'}}"
            },
            {
              "fieldId": "Recipient Name",
              "fieldValue": "={{$('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'Valued Customer'}}"
            },
            {
              "fieldId": "Message Category",
              "fieldValue": "Appointment_Confirmation_SMS_Customer"
            },
            {
              "fieldId": "Message Summary",
              "fieldValue": "={{'Appointment confirmation SMS \u2192 Customer | Appt Date: ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data['appointment date'] ?? 'N/A')}}"
            },
            {
              "fieldId": "Call ID",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_id ?? 'N/A' }}"
            },
            {
              "fieldId": "Call Direction",
              "fieldValue": "={{ $('Webhook').item.json.body.call.direction ?? 'N/A' }}"
            },
            {
              "fieldId": "Agent Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.agent_name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Phone",
              "fieldValue": "={{ $('Webhook').item.json.body.call.to_number ?? 'N/A' }}"
            },
            {
              "fieldId": "Execution ID",
              "fieldValue": "={{ $execution.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        608
      ],
      "id": "msglog-appt-sms-cust",
      "name": "MsgLog - Appt SMS Customer",
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Message Log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat(\"MMMM d, yyyy 'at' h:mm a\") }}"
            },
            {
              "fieldId": "Message Type",
              "fieldValue": "SMS"
            },
            {
              "fieldId": "Recipient Type",
              "fieldValue": "Admin"
            },
            {
              "fieldId": "Recipient",
              "fieldValue": "={{'+15105204265'}}"
            },
            {
              "fieldId": "Recipient Name",
              "fieldValue": "={{'Admin (Chitraksh)'}}"
            },
            {
              "fieldId": "Message Category",
              "fieldValue": "Appointment_Alert_SMS_Admin"
            },
            {
              "fieldId": "Message Summary",
              "fieldValue": "={{'Appointment alert SMS \u2192 Admin | Customer: ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'Valued Customer') + ' | Appt: ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data['appointment date'] ?? 'N/A')}}"
            },
            {
              "fieldId": "Call ID",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_id ?? 'N/A' }}"
            },
            {
              "fieldId": "Call Direction",
              "fieldValue": "={{ $('Webhook').item.json.body.call.direction ?? 'N/A' }}"
            },
            {
              "fieldId": "Agent Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.agent_name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Phone",
              "fieldValue": "={{ $('Webhook').item.json.body.call.to_number ?? 'N/A' }}"
            },
            {
              "fieldId": "Execution ID",
              "fieldValue": "={{ $execution.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        928
      ],
      "id": "msglog-appt-sms-admin",
      "name": "MsgLog - Appt SMS Admin",
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Message Log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat(\"MMMM d, yyyy 'at' h:mm a\") }}"
            },
            {
              "fieldId": "Message Type",
              "fieldValue": "Email"
            },
            {
              "fieldId": "Recipient Type",
              "fieldValue": "Customer"
            },
            {
              "fieldId": "Recipient",
              "fieldValue": "={{$('Webhook').item.json.body.call.call_analysis.custom_analysis_data[\"Caller's email id\"] ?? 'N/A'}}"
            },
            {
              "fieldId": "Recipient Name",
              "fieldValue": "={{$('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'Valued Customer'}}"
            },
            {
              "fieldId": "Message Category",
              "fieldValue": "Appointment_Confirmation_Email_Customer"
            },
            {
              "fieldId": "Message Summary",
              "fieldValue": "={{'[Email] Your visit has been successfully scheduled! \u2192 ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data[\"Caller's email id\"] ?? 'N/A') + ' | Appt: ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data['appointment date'] ?? 'N/A')}}"
            },
            {
              "fieldId": "Call ID",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_id ?? 'N/A' }}"
            },
            {
              "fieldId": "Call Direction",
              "fieldValue": "={{ $('Webhook').item.json.body.call.direction ?? 'N/A' }}"
            },
            {
              "fieldId": "Agent Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.agent_name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Phone",
              "fieldValue": "={{ $('Webhook').item.json.body.call.to_number ?? 'N/A' }}"
            },
            {
              "fieldId": "Execution ID",
              "fieldValue": "={{ $execution.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        480
      ],
      "id": "msglog-appt-email-cust",
      "name": "MsgLog - Appt Email Customer",
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Message Log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat(\"MMMM d, yyyy 'at' h:mm a\") }}"
            },
            {
              "fieldId": "Message Type",
              "fieldValue": "Email"
            },
            {
              "fieldId": "Recipient Type",
              "fieldValue": "Admin"
            },
            {
              "fieldId": "Recipient",
              "fieldValue": "={{'mayankchitraksh@gmail.com'}}"
            },
            {
              "fieldId": "Recipient Name",
              "fieldValue": "={{'Admin (Chitraksh)'}}"
            },
            {
              "fieldId": "Message Category",
              "fieldValue": "Callback_Alert_Email_Admin"
            },
            {
              "fieldId": "Message Summary",
              "fieldValue": "={{'[Email] Callback Request \u2192 Admin | Customer: ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'Valued Customer') + ' | Reason: ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data.call_back_reason ?? 'N/A')}}"
            },
            {
              "fieldId": "Call ID",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_id ?? 'N/A' }}"
            },
            {
              "fieldId": "Call Direction",
              "fieldValue": "={{ $('Webhook').item.json.body.call.direction ?? 'N/A' }}"
            },
            {
              "fieldId": "Agent Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.agent_name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Phone",
              "fieldValue": "={{ $('Webhook').item.json.body.call.to_number ?? 'N/A' }}"
            },
            {
              "fieldId": "Execution ID",
              "fieldValue": "={{ $execution.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        1136
      ],
      "id": "msglog-cb-email-admin",
      "name": "MsgLog - Callback Email Admin",
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Message Log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat(\"MMMM d, yyyy 'at' h:mm a\") }}"
            },
            {
              "fieldId": "Message Type",
              "fieldValue": "Email"
            },
            {
              "fieldId": "Recipient Type",
              "fieldValue": "Staff"
            },
            {
              "fieldId": "Recipient",
              "fieldValue": "={{'manifestdestiny247@gmail.com'}}"
            },
            {
              "fieldId": "Recipient Name",
              "fieldValue": "={{'Frankie'}}"
            },
            {
              "fieldId": "Message Category",
              "fieldValue": "Callback_Alert_Email_Staff"
            },
            {
              "fieldId": "Message Summary",
              "fieldValue": "={{'[Email] Callback Request \u2192 Frankie | Customer: ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'Valued Customer') + ' | Reason: ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data.call_back_reason ?? 'N/A')}}"
            },
            {
              "fieldId": "Call ID",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_id ?? 'N/A' }}"
            },
            {
              "fieldId": "Call Direction",
              "fieldValue": "={{ $('Webhook').item.json.body.call.direction ?? 'N/A' }}"
            },
            {
              "fieldId": "Agent Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.agent_name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Phone",
              "fieldValue": "={{ $('Webhook').item.json.body.call.to_number ?? 'N/A' }}"
            },
            {
              "fieldId": "Execution ID",
              "fieldValue": "={{ $execution.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        1360
      ],
      "id": "msglog-cb-email-frankie",
      "name": "MsgLog - Callback Email Frankie",
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Message Log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat(\"MMMM d, yyyy 'at' h:mm a\") }}"
            },
            {
              "fieldId": "Message Type",
              "fieldValue": "Email"
            },
            {
              "fieldId": "Recipient Type",
              "fieldValue": "Admin"
            },
            {
              "fieldId": "Recipient",
              "fieldValue": "={{'mayankchitraksh@gmail.com'}}"
            },
            {
              "fieldId": "Recipient Name",
              "fieldValue": "={{'Admin (Chitraksh)'}}"
            },
            {
              "fieldId": "Message Category",
              "fieldValue": "Reminder_Confirmation_Email_Admin"
            },
            {
              "fieldId": "Message Summary",
              "fieldValue": "={{'[Email] Reminder workflow executed \u2192 Admin | Customer: ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'Valued Customer')}}"
            },
            {
              "fieldId": "Call ID",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_id ?? 'N/A' }}"
            },
            {
              "fieldId": "Call Direction",
              "fieldValue": "={{ $('Webhook').item.json.body.call.direction ?? 'N/A' }}"
            },
            {
              "fieldId": "Agent Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.agent_name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Phone",
              "fieldValue": "={{ $('Webhook').item.json.body.call.to_number ?? 'N/A' }}"
            },
            {
              "fieldId": "Execution ID",
              "fieldValue": "={{ $execution.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2800,
        976
      ],
      "id": "msglog-rem-email-admin",
      "name": "MsgLog - Reminder Email Admin",
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Message Log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date and Time",
              "fieldValue": "={{ $now.setZone('America/Los_Angeles').toFormat(\"MMMM d, yyyy 'at' h:mm a\") }}"
            },
            {
              "fieldId": "Message Type",
              "fieldValue": "Email"
            },
            {
              "fieldId": "Recipient Type",
              "fieldValue": "Staff"
            },
            {
              "fieldId": "Recipient",
              "fieldValue": "={{'manifestdestiny247@gmail.com'}}"
            },
            {
              "fieldId": "Recipient Name",
              "fieldValue": "={{'Frankie'}}"
            },
            {
              "fieldId": "Message Category",
              "fieldValue": "Reminder_Confirmation_Email_Staff"
            },
            {
              "fieldId": "Message Summary",
              "fieldValue": "={{'[Email] Reminder workflow executed \u2192 Frankie | Customer: ' + ($('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'Valued Customer')}}"
            },
            {
              "fieldId": "Call ID",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_id ?? 'N/A' }}"
            },
            {
              "fieldId": "Call Direction",
              "fieldValue": "={{ $('Webhook').item.json.body.call.direction ?? 'N/A' }}"
            },
            {
              "fieldId": "Agent Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.agent_name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Name",
              "fieldValue": "={{ $('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Caller_Name ?? 'N/A' }}"
            },
            {
              "fieldId": "Caller Phone",
              "fieldValue": "={{ $('Webhook').item.json.body.call.to_number ?? 'N/A' }}"
            },
            {
              "fieldId": "Execution ID",
              "fieldValue": "={{ $execution.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2816,
        1264
      ],
      "id": "msglog-rem-email-frankie",
      "name": "MsgLog - Reminder Email Frankie",
      "credentials": {
        "supabaseApi": {
          "id": "t68H7KhMcrrNgUPs",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PCDE": {
      "main": [
        [
          {
            "node": "Callback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Appointment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML5": {
      "main": [
        [
          {
            "node": "Appointment Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback": {
      "main": [
        [
          {
            "node": "Call back log",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointment": {
      "main": [
        [
          {
            "node": "SMS/Whatsapp to Admin1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Appointment Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Book Appointment",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS/Whatsapp to Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Reminder Times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Book Appointment": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consent": {
      "main": [
        [
          {
            "node": "PCDE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Call back confirmation to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call back confirmation to Admin": {
      "main": [
        [
          {
            "node": "Message Storage Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML REMINDER": {
      "main": [
        [
          {
            "node": "Reminder Confirmation to Myankc",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reminder to Frankie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder Confirmation to Myankc": {
      "main": [
        [
          {
            "node": "MsgLog - Reminder Email Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTML REMINDER",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Reminder Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Message to Admin1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Back to Frankie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Reminder Times": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS/Whatsapp to Customer": {
      "main": [
        [
          {
            "node": "MsgLog - Appt SMS Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS/Whatsapp to Admin1": {
      "main": [
        [
          {
            "node": "MsgLog - Appt SMS Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointment Confirmation": {
      "main": [
        [
          {
            "node": "MsgLog - Appt Email Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message to Admin1": {
      "main": [
        [
          {
            "node": "MsgLog - Callback Email Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Back to Frankie": {
      "main": [
        [
          {
            "node": "MsgLog - Callback Email Frankie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder to Frankie": {
      "main": [
        [
          {
            "node": "MsgLog - Reminder Email Frankie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "11b6ee61-478a-4da6-b262-095afbda2868",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69dddf448e695081d6dcad571fceffcf9ff5e9f035e1a536ba1e228fd638aebb"
  },
  "id": "KyMx5rFDagooZnpf",
  "tags": []
}